html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial, sans-serif;
            /*background: linear-gradient(135deg, #c8e6c9, #ffe0b2);*/
            text-align: center;
            margin: 0;
            padding: 50px;
            display:flex;
            flex-direction: column;
            min-height: 100vh;
            box-sizing: border-box;
        }

        h1 {
            color: #333;
        }

        .contendor {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 40px;
        }

        .tarjeta {
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 200px;
            padding: 20px;
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .tarjeta:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }

        a {
            display: block;
            text-decoration: none;
            color: white;
            background-color: blue;
            padding: 10px;
            border-radius: 8px;
            margin-top: 10px;
        }

        a:hover {
            background-color: blue;
        }

        footer {
                margin-top: auto;
                text-align: center;
                font-size: 0.9em;
                opacity: 0.8;
                padding: 10px;
            }

    p {
        font-size: 1.2em;
        color: #555;
        text-align: justify;
    }

    table {
      margin: 20px auto;
      border-collapse: collapse;
      width: 60%;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #0077cc;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    h2 {
      text-align: center;
      margin-top: 30px;
    }